#page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#HeaderText{
    font-size: 32px;
}

#header {
    flex: 1;
    background-color: #333333;
    padding: 1rem;
    padding-left: 4rem;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#target {
    margin: 20px;
    flex: 0.8;
    box-shadow: 0 0 10px 5px #3d3d3d;
    background-color: #fff !important;
}

#target-text {
    text-align: center;
    background-color: #89ce94;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    color: #000 !important;
}

#target-text-disabled {
    text-align: center;
    background-color: #ce8989;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    color: #000 !important;
}

#sidebar {
    flex: 1;
    min-height: 100%;
    background-color: #525252;
    padding: 1rem;
}

canvas {
    height: auto;
    width: 100%;
    min-width: 300px;
}

#SidebarText {
    font-size: 24px;
}

.serie {
    border-top: #89ce94 2px solid;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.serie-number {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.shot {
    background-color: #3d3d3d;
    border: #89ce94 2px solid;
    padding: 5px;
    margin: 5px;
    
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}

.shot:hover {
    background-color: #636262;

    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}

.shot:disabled {
    background-color: #707070;
    border: #c6eccc 2px solid;
    color: #c6eccc !important;
}
